body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #181818;
}

h1 {
    text-align: center;
}
h2{
    text-align: center;
    color: #ee0f0f;
}

.logo {
    max-width: 600px;
    margin-bottom: -150px;
}

label {
    display: block;
    margin-top: 20px;
}

input[type="number"] {
    max-width: 100%;
    padding: 4px;
    margin-top: 0px;
    border-radius: 10px;
}

button {
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    margin-top: 20px;
    border: 0;
    border-radius: 4px;
    color: #e91111;
    background-color: #17c011;
    cursor: pointer;
    transition: 300ms;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    margin-top: 20px;
    color: #FFF;
}